@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

* {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: calc(100vh - 30px);
  margin: 25px 90px 0;
  overflow: hidden;
  background-color: #353535;
  color: #fff;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}